name: Build Kivy Android APK

on:
  push:
    paths-ignore:
      - 'readme.md'
      - 'README.md'


jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update Version in buildozer.spec
        # This replaces "version = 0.1" with "version = 0.1.RUN_NUMBER"
        run: |
          sed -i "s/version = 0.1/version = 0.1.${{ github.run_number }}/" buildozer.spec
      - name: Setup consistent debug keystore
        run: |
          mkdir -p ~/.android
          cp debug.keystore ~/.android/debug.keystore
      - name: Build with Buildozer
        env:
          P4A_RELEASE_KEYSTORE: debug.keystore
          P4A_RELEASE_KEYSTORE_PASSWD: android
          P4A_RELEASE_KEYALIAS_PASSWD: android
          P4A_RELEASE_KEYALIAS: androiddebugkey
        uses: n8marti/buildozer-action@fix-user-doesnt-exist
        id: buildozer
        with:
          workdir: .
          buildozer_version: stable
          command: buildozer android release
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: ${{ steps.buildozer.outputs.filename }}
